<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Name:</b>
  <%= @link.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @link.desc %>
</p>
<p>
	<b>Real Link:</b>
<%= link_to @link.name, @link.url %>
</p>
<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
