<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :format %><br />
    <%= f.select(:format, filmFormat )%>
  </div>
  <div class="field">
    <%= f.label :iso %><br />
    <%= f.select(:iso, filmIso )%>
  </div>
  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
<div>
	<%= f.label :photos %><br />
<% for photo in Photo.find(:all) %>

  <%= check_box_tag "film[photo_ids][]", photo.id, @film.photos.include?(photo) %>
  <%= image_tag(photo.image.url(:thumb), :border =>0, :class => 'thumb') %>
<% end %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
