<h1>Films</h1>
	<% i=0%>
<% @films.each do |film| %>
	<div class="category grid_4 <%- if i==0 -%>alpha<%-end-%> <%- if i==5 -%>omega<%-end-%>">
		<span class="leftAlign"><%= film.fullName %></span>
		<%= link_to image_tag(randomMediumPicture(film), :border =>0),:controller =>'films', :action => 'show', :id => film %>
		<%- if user_signed_in? -%>
		<div class="triangle right"></div>
		<span class="rightAlign"><%= link_to 'Edit', edit_film_path(film) %> | <%= link_to 'Destroy', film, :confirm => 'Are you sure?', :method => :delete %></span>
		
		<%- end -%>
		<%-i = i+1 -%>
		<%- if i==6 -%>
		<%-i=0 end-%>
	</div><%-end-%>
<%= will_paginate @films %>

<%= link_to image_tag('add.png'), new_film_path, :class =>'add' if user_signed_in?%>