
<%= form_for(@album,:html => {:multipart => true}) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
<div class="formThumbs">
	<%= f.label :photos %><br />
<% for photo in Photo.find(:all) %>

  <%= check_box_tag "album[photo_ids][]", photo.id, @album.photos.include?(photo) %>
  <%= image_tag(photo.image.url(:square), :border =>0, :class => 'thumb', :onclick=>"checkImage($(this));") %>
<% end %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
