<div class="photo">
 <b>PHOTO:</b>
  <% form.fields_for :photos, photo, :child_index => (photo.new_record? ? "index_to_replace_with_js" : nil) do |photo_form| %>

<p>
    <%= photo_form.label :camera %><br />
    <%= photo_form.collection_select( :camera_id, @cameras, :id, :fullName, :prompt => 'Please select camera') %>
</p>
<p>
    <%= photo_form.label :film %><br />
    <%= photo_form.collection_select( :film_id, @films, :id, :fullName, :prompt => 'Please select film') %>
  </p>
  <p>
    <%= photo_form.file_field :image %>
    <%= link_to_function "delete", "remove_field($(this), ('.photo'))" %><br/>
  <% end %>
  </p>
</div>