<h1>Albums</h1>
<div id="categories" class=" grid_20 push_2">
<% @albums.each do |album| %>
	<%- if !album.photos.empty? || user_signed_in? -%>
	<div class="category">
		<span class="leftAlign"><%= album.name %></span>
		<%= link_to image_tag(randomMediumPicture(album), :border =>0),:controller =>'albums', :action => 'show', :id => album %>
		<%- if user_signed_in? -%>
		<span class="rightAlign"><%= link_to 'Edit', edit_album_path(album)%> | <%= link_to 'Destroy', album, :confirm => 'Are you sure?', :method => :delete %></span>
		<%-end-%>
	</div>
	<%-end-%>
<% end %>
</div>
<%= link_to 'New Album', new_album_path if user_signed_in?%>