<h1>Albums</h1>

<% i=0%>
<% @albums.each do |album| %>
	<div class="category grid_8 <%- if i==0 -%>alpha<%-end-%> <%- if i==2 -%>omega<%-end-%>">
		<span class="leftAlign"><%= album.name %></span>
		<%= link_to image_tag(randomMediumPicture(album), :border =>0),:controller =>'albums', :action => 'show', :id => album %>
		<%- if user_signed_in? -%>
		<div class="triangle right"></div>
		<span class="rightAlign"><%= link_to 'p', edit_album_path(album), :class=>"icon"%> <%= link_to 't', album, :confirm => 'Delete this?', :method => :delete , :class=>"icon"%></span>
		<%-end-%>
	</div>
	<%-i = i+1 -%>
	<%- if i==3 -%>
	<%-i=0 end-%>
	<%-end-%>

<%= will_paginate @albums %>


<%= link_to image_tag('add.png'), new_album_path, :class =>'add' if user_signed_in?%>