<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
  |  
  <b>Description:</b>
  <%= @album.description %>
</p>
<div>
	<% @album.photos.each do |photo| %>
	  <%= link_to image_tag(photo.image.url(:medium), :border =>0, :class => 'thumb'),:controller =>'photos', :action => 'show', :id => photo %>
	<% end %>
	</div>

<%- if user_signed_in?-%>
<%= link_to 'Edit', edit_album_path(@album) %> |
<%- end-%>
<%= link_to 'Back', albums_path %>
