<div class="fav"><%= image_tag "logo.png" %></div>
<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
<div class="formThumbs">
	<%= f.label :photos %><br />
<% for photo in @photos %>

  <%= check_box_tag "tag[photo_ids][]", photo.id, @tag.photos.include?(photo) %>
<%if @tag.photos.include?(photo)%>
  <%= image_tag(photo.image.url(:square), :border =>0, :class => 'thumb selected', :onclick=>"checkImage($(this));") %>
<%else%>
<%= image_tag(photo.image.url(:square), :border =>0, :class => 'thumb', :onclick=>"checkImage($(this));") %>
<%end%>
<% end %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
