<h1>Tags</h1>
<div id="categories">
<% @tags.each do |tag| %>
		<%- if !tag.photos.empty?  || user_signed_in? -%>
	<div class="category">

		<span class="leftAlign"><%= tag.name %></span>
		<%= link_to image_tag(randomMediumPicture(tag), :border =>0),:controller =>'tags', :action => 'show', :id => tag %>
		<%- if user_signed_in? -%>
		<span class="rightAlign"><%= link_to 'Edit', edit_tag_path(tag)%> | <%= link_to 'Destroy', tag, :confirm => 'Are you sure?', :method => :delete %></span>
		<%-end-%>
	</div>
	<%-end-%>
<% end %>
</div>

<%= link_to 'New Tag', new_tag_path if user_signed_in? %>
