<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tag.name %>
  |  
  <b>Description:</b>
  <%= @tag.description %>
</p>
<div>
	<% @tag.photos.each do |photo| %>
	  <%= link_to image_tag(photo.image.url(:medium), :border =>0, :class => 'thumb'),:controller =>'photos', :action => 'show', :id => photo %>
	<% end %>
</div>

<%-if user_signed_in?-%>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%-end-%>
<%= link_to 'Back', tags_path %>
