<p id="notice"><%= notice %></p>
<div class="category grid_4 alpha">
<p>
  <b>Name:</b>
  <%= @tag.name %>
  <b>Description:</b>
  <%= @tag.description %>
</p>
</div>
	<%-i=1-%>
	<% @tag.photos.each do |photo| %>
	<div class="category grid_4 <%- if i==0 -%>alpha<%-end-%> <%- if i==5 -%>omega<%-end-%>">
	  <%= link_to image_tag(photo.image.url(:square), :border =>0, :class => 'thumb'),:controller =>'photos', :action => 'show', :id => photo %>
	</div>
	<%-i = i+1 -%>
	<%- if i==6 -%>
	<%-i=0 end-%>
	<% end %>


<%-if user_signed_in?-%>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%-end-%>
<%= link_to 'Back', tags_path %>
