<h1>Greeting</h1>


<div class="grid_18  alpha about"> <p style="font-size:18px;">This site is not about me, this site is about cooking, photography and that's it!<br/>
	But I need to talk a little about me. I fell in love with analog photography after trying digital. And I like cooking too. <br/><%= mail_to "yannick@eatcupcak.es", "Mail me!", :encode => "javascript"%><p></div>
<div class="grid_5 links omega">
	<ul>
		<% category=''%>
		<% @links.each do |link| %>
			<%if (category != link.category)%>
			<%if (category != '')%>
			</ul>
			<%end%>
			<%category = link.category%>
			
			
			<li><%=category%></li><ul><li><%=link_to link.name, link.url, :target => 'blank'%></li>
			<%else%>
			
			<li><%=link_to link.name, link.url, :target => 'blank'%></li>
			<%end%>
		<%end%>
		<%-if user_signed_in?-%>
		</ul>
		<li><%= link_to 'add Link', new_link_path %></li>
		<%-end-%>
	</ul>
</div>