<h1>Cameras</h1>

	<% i=0%>
<% @cameras.each do |camera| %>
	<div class="category grid_4 <%- if i==0 -%>alpha<%-end-%> <%- if i==5 -%>omega<%-end-%>">
		<span class="leftAlign"><%= camera.fullName %></span>
		<%= link_to image_tag(randomMediumPicture(camera), :border =>0),:controller =>'cameras', :action => 'show', :id => camera.nickname %>
		<%- if user_signed_in? -%>
		<div class="triangle right"></div>
		<span class="rightAlign"><%= link_to 'p', edit_camera_path(camera), :class=>"icon" %> <%= link_to 't', camera, :confirm => 'Delete this?', :method => :delete, :class=>"icon" %></span>
		<%-end-%>
		<%-i = i+1 -%>
		<%- if i==6 -%>
		<%-i=0 end-%>

	</div><%-end-%>
<%= will_paginate @cameras %>


<%= link_to image_tag('add.png'), new_camera_path, :class =>'add' if user_signed_in?%>
