<h1>Cameras</h1>
<div id="categories" class=" grid_20 push_2">
<% @cameras.each do |camera| %><%- if !camera.photos.empty? || user_signed_in? -%>
	<div class="category">
		
		<span class="leftAlign"><%= camera.fullName %></span>
		<%= link_to image_tag(randomMediumPicture(camera), :border =>0),:controller =>'cameras', :action => 'show', :id => camera.nickname %>
		<%- if user_signed_in? -%>
		<span class="rightAlign"><%= link_to 'Edit', edit_camera_path(camera) %> | <%= link_to 'Destroy', camera, :confirm => 'Are you sure?', :method => :delete %></span>
		<%-end-%>
		
	</div><%-end-%>
<% end %>
</div>
<%= link_to 'New Camera', new_camera_path if user_signed_in?%>
