<h1>Listing cameras</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Model</th>
    <th>Brand</th>
    <th>Nickname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cameras.each do |camera| %>
  <tr>
    <td><%= camera.name %></td>
    <td><%= camera.model %></td>
    <td><%= camera.brand %></td>
    <td><%= camera.nickname %></td>
    <td><%= link_to 'Show', camera %></td>
    <td><%= link_to 'Edit', edit_camera_path(camera) %></td>
    <td><%= link_to 'Destroy', camera, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Camera', new_camera_path %>
