<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @camera.name %>
  |  
  <b>Model:</b>
  <%= @camera.model %>
  |  
  <b>Brand:</b>
  <%= @camera.brand %>
  |  
  <b>Nickname:</b>
  <%= @camera.nickname %>
</p>
<div>
	<% @camera.photos.each do |photo| %>
	  <%= link_to image_tag(photo.image.url(:medium), :border =>0, :class => 'thumb'),:controller =>'photos', :action => 'show', :id => photo %>
	<% end %>
</div>
<%-if user_signed_in?-%>
<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%-end-%>
<%= link_to 'Back', cameras_path %>
