<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @camera.name %>
</p>

<p>
  <b>Model:</b>
  <%= @camera.model %>
</p>

<p>
  <b>Brand:</b>
  <%= @camera.brand %>
</p>

<p>
  <b>Nickname:</b>
  <%= @camera.nickname %>
</p>
<p>
	<b>Photos</b>
	<% @camera.photos.each do |photo| %>
	  <%= link_to image_tag(photo.image.url(:thumb), :border =>0),:controller =>'photos', :action => 'show', :id => photo %>
	<% end %>
</p>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
