<h1>Listing photos</h1>

<table>
  <tr>
	<th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Taken</th>
    <th>Xpro</th>

    <th>Camera</th>
    <th>Film</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
	<td> <%= link_to image_tag(photo.image.url(:thumb), :border =>0), :action => 'show', :id => photo %></td>
    <td><%= photo.name %></td>
    <td><%= photo.description %></td>
    <td><%= photo.taken %></td>
    <td><%= photo.xpro %></td>
    <td><%= photo.camera.brand+" "+ photo.camera.model  if( photo.camera != nil) %></td>
    <td><%= photo.film.brand+" "+ photo.film.name if( photo.film != nil) %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
