<h1>Photos</h1>
<% i=0 %>
<% @photos.each do |photo| %>
	<div class=" grid_4 <%- if i==0 -%>alpha<%- end -%> <%- if i==5 -%>omega<%- end -%> category">
		<%#<div class="triangle left"></div>%>
		<span class="leftAlign"><%= link_to photo.name, photo %></span>
		<%= link_to image_tag(photo.image.url(:square), :border =>0), photo %>
		<%- if user_signed_in? -%>
		<div class="triangle right"></div>
		<span class="rightAlign"><%= link_to 'p', edit_photo_path(photo), :class=>"icon" %> <%= link_to 't', photo, :confirm => 'Delete this picture?', :method => :delete, :remote=>true, :class=> "icon delete-icon" %> <%-if !photo.isPublished?-%> <a class="icon">L</a><%-end-%></span>
		<%-end-%>
		<%- i = i+1 -%>
		<%- if i==6 -%>
		<%- i=0 end-%>
		
	</div>
<% end %>
<%= will_paginate @photos %>
<%= link_to image_tag('add.png'), new_photo_path, :class =>'add' if user_signed_in?%>
