<p id="notice"><%= notice %></p>
 <%= image_tag @photo.image.url(:thumb) %>
<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Taken:</b>
  <%= @photo.taken %>
</p>

<p>
  <b>Xpro:</b>
  <%= @photo.xpro %>
</p>

<p>
  <b>Camera:</b>
  <%= @photo.camera.brand+" "+ @photo.camera.model  if( @photo.camera != nil) %>
</p>

<p>
  <b>Film:</b>
  <%= @photo.film.brand+" "+ @photo.film.name if( @photo.film != nil) %>
</p>
<p>
  <b>Created_at:</b>
  <%= @photo.created_at %>
</p>
<%= image_tag @photo.image.url %>



<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
