
<div class="photo grid_16 alpha">
<div class="triangle right"></div>
<span class="rightAlign">
	<%- if user_signed_in? -%>
	<%= link_to 'Edit', edit_photo_path(@photo) if user_signed_in? %> |
	<%-end-%>
	<%= link_to 'Back', photos_path %>
</span>
	<%= image_tag @photo.image.url(:web)%>
</div>

<span class="grid_8 omega photoDesc">
<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Xpro:</b>
  <%= @photo.xpro %>
</p>

<p>
  <b>Camera:</b>

<%= link_to @photo.camera.fullName,:controller =>'cameras', :action => 'show', :id => @photo.camera if( @photo.camera != nil)%>
</p>

<p>
  <b>Film:</b>
  <%= link_to @photo.film.fullName,:controller =>'films', :action => 'show', :id => @photo.film if( @photo.film != nil)%>
</p>

</span>


