<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @photo.name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Taken:</b>
  <%= @photo.taken %>
</p>

<p>
  <b>Xpro:</b>
  <%= @photo.xpro %>
</p>

<p>
  <b>Url:</b>
  <%= @photo.url %>
</p>

<p>
  <b>Thumbnailurl:</b>
  <%= @photo.thumbnailUrl %>
</p>

<p>
  <b>Camera:</b>
  <%= @photo.camera %>
</p>

<p>
  <b>Film:</b>
  <%= @photo.film %>
</p>
<%= image_tag @photo.image.url %>
  <%= image_tag @photo.image.url(:medium) %>
  <%= image_tag @photo.image.url(:thumb) %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
