<% content_for :title, "Do You eat cupcakes | "+@photo.name %>
<%= link_to("Previous", @photo.previous, :class => 'previous') if @photo.previous %>
<%= link_to("Next", @photo.next, :class => 'next') if @photo.next %>
<div class="photo grid_16 alpha">
	<%- if user_signed_in? -%>
<div class="triangle right"></div>

<span class="rightAlign">
	<%= link_to 'p', edit_photo_path(@photo),:class =>"icon" if user_signed_in? %> 
	<%-if !@photo.isPublished?-%> <a class="icon">L</a><%-end-%>
	
</span>
<%-end-%>
	<%= image_tag @photo.image.url(:web)%>
</div>
<span class="grid_8 omega photoDesc">
<p id="notice"><%= notice %></p>
<p>
  <span class="label">Name:</span>
  <%= @photo.name %>
</p>
<%-if (@photo.description!=nil && @photo.description!='')-%>
<p>
  <span class="label">Description:</span>
  <%= @photo.description %>
</p>
<%-end-%>
<p>
  <span class="label">Xpro:</span>
  <%-if @photo.xpro == true%>
  	&#10003;
  <%-else-%>
	&#10008;
  <%-end-%>
</p>
<%- if !@photo.camera!=nil%>
<p>
  <span class="label">Camera:</span>
<%= link_to @photo.camera.fullName,:controller =>'cameras', :action => 'show', :id => @photo.camera if( @photo.camera != nil)%>
</p>
<%-end%>
<p>
	<%- if !@photo.film!=nil%>
  <span class="label">Film:</span>
  <%= link_to @photo.film.fullName,:controller =>'films', :action => 'show', :id => @photo.film if( @photo.film != nil)%>
</p>
<%-end%>
<%- if !@photo.tags.empty?%>
<p>
	<span class="label">Tags:</span>
	<% @photo.tags.each do |tag| %>
		<%= link_to tag.name ,:controller =>'tags', :action => 'show', :id => tag %> 
	<% end%>
</p>
<%-end%>
<p>
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="eatcpcks">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%=request.url%>" layout="button_count" show_faces="false" width="450"></fb:like>
</p>

</span>
<%= link_to image_tag('bak.png'), photos_path, :class =>'add'%>

